<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bồn nước Tân Á Đại Thành - Bồn Inox - Bồn Nhựa Giá Rẻ Nhất 2018</title>

    <meta name="description" content="Phân phối Bồn nước Tân Á, Bồn nước Đại Thành - Bồn nước inox Tân Á - Bồn nhựa, téc nước Tân Á chính hãng với giá tốt nhất  dành cho khách hàng tại Việt Nam. cam kết chất lượng hàng đầu bảo hành 15 năm" />

    <meta name="keywords" content="Tân Á Đại Thành" />
    <link rel="canonical" href="http://Bontana.vn/" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
